=semantic_form_for @ticket do |f|
  =f.inputs do
    =f.input :title
    =f.input :body, as: :text
    =f.input :severity, as: :select, collection: ["Critical", "Major", "Minor", "Cosmetic"]
    =f.input :assignee, as: :select, collection: User.all.pluck(:email, :id)
  =f.actions do
    .submit =f.action :submit
    -if @editing
      =button_to "Back to Ticket", ticket_path(@ticket)