@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";
@import "refills/refills";

$critical-color: rgba(192, 46, 29, 1);
$major-color: rgba(241, 108, 32, 1);
$minor-color: rgba(236, 170, 56, 1);
$cosmetic-color: rgba(162, 184, 108, 1);
$open-color: rgba(197, 20, 125, 1);
$assigned-color: rgba(129, 19, 186, 1);
$accepted-color: rgba(45, 19, 186, 1);
$in-process-color: rgba(19, 91, 186, 1);
$on-hold-color: rgba(227, 146, 23, 1);
$submitted-color: rgba(162, 207, 21, 1);
$resolved-color: rgba(21, 186, 20, 1);


.ticket-header{
  @include outer-container;
}

.ticket-content{
  @include outer-container;
}

.show-options{
  @include outer-container;
}

.status{
  @include outer-container;
}

.show-option{
}

// All of the button colors
// This could be refactored into a method in future

#critical{
  background-color: $critical-color;
}
#major{
  background-color: $major-color;
}
#minor{
  background-color: $minor-color;
}
#cosmetic{
  background-color: $cosmetic-color;
}
#open{
  background-color: $open-color;
}
#assigned{
  background-color: $assigned-color;
}
#accepted{
  background-color: $accepted-color;
}
#in-process{
  background-color: $in-process-color;
}
#on-hold{
  background-color: $on-hold-color;
}
#submitted{
  background-color: $submitted-color;
}
#resolved{
  background-color: $resolved-color;
}


